<div class="testimonial-author-box text-center">
  <h2>Property Details:</h2>
</div>
<div class="content">
  <p class="testimonial-text fs-5">
    <b>Name: </b><%= property.name %><br/>
    <b>Description: </b><%= property.description %><br/>
    <b>Location: </b><%= property.address %>,<%= property.city %><br/>
  </p>
</div>