<h1 style="margin-top: 120px; text-align:center;">Listed Properties</h1>

<% props = Property.where(user_id: current_user.id) %>

<section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 justify-content-between">
          <% props.each do |property| %>
            <%= render property %>
          <% end %>
        </div>
      </div>
</section><!-- End Property Grid Single-->
