<div class="dashboard">
  <% if current_user.admin? %>
    <%= render 'admin' %>
  <% elsif current_user.seller?  %>
    <%= render 'seller' %>
  <% elsif current_user.buyer? %>
    <%= render 'buyer' %>
  <% end %>
</div>
<!-- ======= Footer ======= -->
<%= render 'layouts/footer2' %>