<div style="text-align:center;"><h1>New property</h1>

<%= render "form", property: @property %>

<br>

<div>
  <%= link_to properties_path do %>
    <span title="Back" ><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="3em" width="3em" xmlns="http://www.w3.org/2000/svg"><path d="M21 11L6.414 11 11.707 5.707 10.293 4.293 2.586 12 10.293 19.707 11.707 18.293 6.414 13 21 13z"></path></svg></span>
  <% end %>
</div>
</div>

<%# ---- Footer ---- %>
<section class="section-footer">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">PropEx</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">
              Enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat duis
              sed aute irure.
            </p>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Phone .</span> +91 12345 67890
              </li>
              <li class="color-a">
                <span class="color-text-a">Email .</span> <%= mail_to "contact@propex.com", "contact@propex.com", target: '_blank' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>