<h1 class="text-center">Welcome to PropEx</h1>
<p class="m-3">Helping your clients buy or sell a home is a time-consuming process, and writing a real estate listing description is just one tiny part of the process. Between showings, inspections, closings, and all the other tasks that need to get done, time is a limited resource. Writing newsletters and engaging with your network on social media may not even make it on the to-do list.</p>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
